body {
    background-color: #1d1d1d;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px 20px;
}

header .left-section,
header .right-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

header button {
    color: white;
    text-align: center;
    padding: 10px 14px;
    font-size: 16px;
    background-color: rgb(84, 84, 85);
    border: none; 
    border-radius: 8px; 
    cursor: pointer;
}

header button:hover {
    background-color: rgb(100, 100, 101); 
}